@(message : String)

@main("Welcome to BlueMKT ADMIN Console") {

<script src='@routes.Assets.versioned("javascripts/index.js")' type='text/javascript'></script>
<ul>
    <li><a href="/app">CRUD index</a></li>
</ul>
@** Used to list all current accounts in DB, index.js is Runtime generated with CoffeeScript PLG.
* See at assets/javascript Example from https://www.youtube.com/watch?v=bLrmnjPQsZc
*@
<ul id="accounts"></ul>

}
